body {
    
    background-color: rgb(243, 241, 99);
    margin: 50px;
    font-size: 20px;
}
header{
    text-align: center;
    background-color: rgb(238, 133, 133);
    border-radius: 10px;
    opacity: 0.8;
}

.table {
    background-color: rgb(64, 167, 207);
    display: table;
    border-radius: 10px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.row {
    margin: 20px;
    display: table-row;
    text-align: center;
    font-size: 20px;
}
.row > * {
    display: table-cell;
    margin: 20px;
    
}
 
button{ 
    height: 50px;
    width: 200px;
    font-weight: bold;
    background-color: lightgreen;
    font-size: 16px;
    background-image: linear-gradient(rgb(26, 238, 26), lightgreen);
    border: 3px solid #14ff5b;
}

.result {
    display: none;
    margin-top: 30px;
    font-weight: bold;
    padding-top: 9px;
    padding-bottom: 9px;
    border: greenyellow double 2px;
    font-size: 20px;
}

.error {
    display: none;
    margin-top: 30px;
    font-weight: bold;
    padding-top: 9px;
    padding-bottom: 9px;
    color: rgb(77, 36, 36);
    border: rgb(253, 28, 58) double 2px;
    font-size: 20px;

}